.addTransaction
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    border-radius: 1em;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form 
{
    max-width: 400px;
    margin: 0 auto;
}

label 
{
    display: block;
    margin-bottom: 5px;
}

input, select, button 
{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}