.search
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}

.searchbar
{
    height: 50%;
    width: 40%;
    border-radius: 1.5em;
    text-align: center;
}

.choice-boxes
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4vh;
    margin-bottom: 1.4%;
}

.choice-box
{
    margin-right: 2%;
    border-radius: 1em;
    border: 1px solid #232222;
    width: 10%;
    text-align: center;
}

td 
{
    word-wrap: break-word; 
    word-break: break-all;
}

.list
{
    max-height: 80%;
    overflow: auto;
    border-radius: 2em;
}

.market 
{
    font-size: 80%; 
    color: #29017f; 
    margin-left: 0;
}

.stock-search
{
    table-layout: fixed;
    border-radius: 1.6em;
    font-size: 140%;
    border: 2px solid #000;
    border-bottom: 2px solid #000;
}

.legend
{
    font-weight: bold;
    margin-bottom: 3%;
    border-bottom: 2px solid #000;
}

.stock-search td 
{
    width: 15%;
    height: 15%;
    overflow: hidden;
    text-align: center;
}

.star-container 
{
    display: inline-block;
}

.star-container #star 
{
    font-size: 125%;
    color: black; 
}

.star-container #star:hover 
{
    cursor: pointer;
    color: blue;
}

.choice-box.selected
{
    background-color: rgb(11, 1, 62);
    color: white;
}

.choice-box:hover
{
    cursor: pointer;
}

@media (max-width: 600px)
{
    .choice-box
    {
        width: auto;
    }

    .stock-search
    {
        padding-left: 3%;
        padding-top: 3%;
    }
}