.watchlist 
{
    table-layout: fixed;
    overflow: auto;
    max-height: 80%;
    width: 60%;
    height: auto; 
    margin: 5%;
    font-size: 140%;
    display: block;
    border: 2px solid #000;
    border-radius: 1.6em;
}

td 
{
    word-wrap: break-word; 
    word-break: break-all;
}

.legend
{
    font-weight: bold;
    margin-bottom: 3%;
    border-bottom: 2px solid #000;
}

.watchlist td 
{
    width: 15%;
    height: 15%;
    overflow: hidden;
    text-align: center
}

.market 
{
    font-size: 80%; 
    color: #29017f; 
    margin-left: 0;
}

#star
{
    font-size: 125%;
    color: gold; 
}

#star:hover
{
    cursor: pointer; 
}

@media (max-width: 600px)
{
    .workspace
    {
        align-items: center;
    }
}